.ant-layout {
  height: 100%;

  .ant-layout-header {
    height: 60px;
    padding-left: 24px;
    padding-right: 30px;
    background-color: var(--text-main-color);
  }

  .ant-layout-content {
    padding: 16px;
  }
}

button.ant-btn {
  color: var(--text-main-color);
  &:hover, &:focus {
    background-color: var(--gray-globel-bg-color);
    color: var(--text-main-color);
    border-color: var(--border-color);
  }
  &:active {
    background-color: var(--gray-bg-color);
  }
}
button.ant-btn-primary:not([disabled]) {
  color: #fff;
  &:hover, &:focus {
    background-color: var(--primary-hover-color) !important;
    border-color: var(--primary-hover-color) !important;
    color: #fff !important;
  }
  &:active {
    background-color: var(--primary-active-color) !important;
    border-color: var(--primary-active-color) !important;
    color: #fff !important;
  }
}
button.ant-btn-primary[disabled] {
  color: #fff !important;
  background-color:  #C9CCD1 !important;
}

/**** ant-form ****/
// 基本配置
.ant-form {
  .ant-form-item-label,
  .ant-form-item-label label {
    color: var(--text-main-color);

    &::after {
      content: '' !important;
    }
  }

  .ant-form-item-control-input-content {
    color: var(--text-main-color);
    white-space: nowrap;
  }
}
// 详情页的form label
.min-main .ant-form .ant-form-item-label label {
  color: var(--text-second-color);
}

.ant-form.multiline-form {
  .ant-form-item-label {
    width: 65px; // 固定宽度保证label右对齐
  }
}
// 筛选栏
.search-form {
  display: flex;
  align-items: flex-start;
  
  .ant-form {
    width: calc(100% - 128px);

    .ant-form-item {
      margin-right: 0px !important;
      padding-right: 24px;
      margin-bottom: 16px;

      &.last-row {
        margin-bottom: 0px !important;
      }
    }
  //   // 每行三列或四列
    &.col-3 .ant-form-item{
      width: calc(100% / 3);
    }
    &.col-4 .ant-form-item {
      width: calc(100% / 4);
    }
  }
}

.ant-input-number {
  width: 100% !important;
}

.ant-menu:not(.ant-menu-horizontal) {
  // background-color: rgba(255, 255, 255, 0.08);
  padding: 0 8px;
  color: var(--text-main-color);
  overflow: hidden;
  .ant-menu-item-icon {
    width: 18px;
    text-align: center;
    margin-right: 0px;

    & + span {
      margin-left: 8px;
    }
  }

  .ant-menu-submenu {
    min-height: 40px;
    margin-top: 4px;
    margin-bottom: 8px;

    .ant-menu-sub {
      background-color: #fff;
      padding: 0px;
    }

    .ant-menu-item {
      padding-left: 18px !important;
    }

    .ant-menu-title-content {
      height: 100%;
    }
    .ant-menu-submenu-arrow {
      color: var(--gray-color);
    }
    .ant-menu-submenu-title {
      padding-left: 16px !important;
      margin: 0;

      &:hover {
        color: var(--text-main-color);
      }
    }
  }

  .ant-menu-item:hover{
    background-color: var(--gray-globel-bg-color);
    .ant-menu-submenu-arrow {
      color: var(--gray-color);
    }
    a { color: var(--text-main-color) }
  }

  .ant-menu-item {
    padding-left: 16px !important;
  }

  // 选中时高亮
  .ant-menu-item-selected,
  .ant-menu-item-selected:hover {
    background: var(--menu-active-bg-color) !important;
    border-radius: 2px;

    a {
      color: var(--primary-color)
    }

    .icon {
      svg *[stroke='#60656E'] {
        stroke: var(--primary-color);
      }
      svg path[fill='#60656E'],
      svg rect[fill='#60656E'] {
        fill: var(--primary-color);
      }
    }

    &:after {
      display: none;
    }
  }

  // hover父菜单样式
  .ant-menu-submenu:hover {
    background-color: var(--gray-globel-bg-color);
    .ant-menu-title-content {
      color: var(--text-main-color);
    }
    .ant-menu-submenu-arrow {
      color: var(--gray-color) !important;
    }
  }
  // hover子菜单时，父菜单清空背景色
  .ant-menu-submenu:has(.ant-menu-item-active):hover {
    background-color: transparent;
  }
  
  // 选中子菜单时，父菜单加粗
  .ant-menu-submenu-selected  {
    .ant-menu-submenu-title {
      color: var(--text-main-color);
      font-weight: 600;
    }

    &:hover .ant-menu-submenu-arrow,
    .ant-menu-submenu-arrow {
      color: var(--icon-weight-color);
    }
    .icon {
      svg *[stroke='#60656E'] {
        stroke: var(--icon-weight-color);
      }
      svg path[fill='#60656E'],
      svg rect[fill='#60656E'] {
        fill: var(--icon-weight-color);
      }
    }
  }
}
.ant-menu-inline-collapsed-tooltip {
  .ant-tooltip-inner, .ant-tooltip-arrow-content {
    a {
      color: var(--text-main-color);
    }
    .ant-menu-item-icon {
      display: inline-flex;
      margin-right: 8px;
    }
  }
}

.ant-popover-inner {
  min-width: 226px;
  border-radius: 4px !important;
  // position: relative;
  // top: -10px;

  .ant-popover-inner-content {
    padding: 24px !important;
    padding-bottom: 16px !important;
    .anticon {
      display: none;
    }
    .ant-popover-message {
      padding-top: 0px;
      padding-bottom: 16px;
      .ant-popover-message-title {
        padding-left: 0px;
      }
    }
  }

  .ant-popover-buttons {
    margin-bottom: 0px; 
    button {
      margin-left: 16px;
    }
  }
}

.ant-pagination {
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next,
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-prev .ant-pagination-item-link, 
  .ant-pagination-next .ant-pagination-item-link {
    border-radius: 30px;
    width: 28px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next
  {
    border-radius: 2px;
    display: block;
  }

  .ant-pagination-item-ellipsis {
    font-size: 8px;
    color: var(--text-second-color) !important;
  }
  .ant-pagination-item,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid var(--border-color);
    a {
      color: var(--text-second-color)
    }
    .ant-pagination-item-link-icon {
      color: var(--text-second-color) !important;
    }
  }
  .ant-pagination-item-ellipsis {
    font-size: 6px;
  }
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-item,
  .ant-pagination-jump-prev,
  .ant-pagination-jump-next
  {
    &:hover {
      background-color: var(--gray-globel-bg-color);
      border-color: var(--border-color);

      .ant-pagination-item-link {
        background-color: var(--gray-globel-bg-color);
        border-color: var(--border-color);
      }

      button, a{
        color: var(--text-second-color);
      }
    }
    .ant-pagination-item-link:active {
      background-color: var(--gray-bg-color);
    }
  }
  .ant-pagination-item-active, 
  .ant-pagination-item-active:hover,
  .ant-pagination-item:active {
    background-color: var(--primary-color);
    border: none;
    a {
      color: #fff !important;
    }
  }
}
.ant-pagination-options {
  display: none !important;
}

.ant-table {
  .ant-table-thead > tr > th {
    background: var(--table-header-color);
    color: var(--text-main-color)
  }

  .ant-switch-checked {
    background-color: #00b54e;
  }
  .ant-table-body {
    overflow: auto !important;
  }
  .ant-table-tbody > tr.ant-table-row-selected > td{
    background-color: var(--active-color);
  }
  .ant-table-row:hover > td {
    background-color: var(--table-hover-color) !important;
  }
  .ant-table-row.table-striped:hover > td {
    background-color: var(--table-stripe-hover-color) !important;
  }
  .ant-table-cell {   
    padding: 12px 16px;
    height: 48px;
    color: var(--text-main-color);

    &:has(.ant-checkbox-wrapper) {
      text-align: center;
    }
  }
  .ant-table-cell-scrollbar {
    box-shadow: none !important;
  }
  .ant-table-thead {
    // .ant-table-cell-fix-right {
    //   right: 0 !important;
    // }
    .ant-table-cell-fix-right-first:before {
      display: none;
    }
  }
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after,
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-tree-checkbox-indeterminate {
  .ant-tree-checkbox-inner::after {
    background-color: var(--primary-color) !important;
  }
}

.ant-transfer {
  .ant-transfer-list {
    width: 50%;
    height: 280px;
    overflow: auto;
    padding: 8px 12px;
  }
  .ant-transfer-list-header-selected {
    span:first-child {
      display: none;
    }
  }

  .ant-transfer-list-header-dropdown {
    display: none;
  }
}

.ant-upload-list {
  display: inline-block;
  margin-left: 16px;
  .ant-upload-list-item-card-actions,
  .ant-upload-list-item-name {
    word-wrap: break-word;
    white-space: break-spaces;
  }
}
.ant-tabs {
  .ant-tabs-content-holder {
    overflow: auto;
  }
  .ant-tabs-tab-btn {
    color: var(--tab-text-color);

    &:hover, &:focus, &:active {
      color: var(--tab-hover-color)
    }
  }
  .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--tab-active-color) !important;
    font-weight: 600;
  }
  .ant-tabs-ink-bar {
    background-color: var(--tab-line-color) !important;
  }
  .ant-tabs-nav {
    margin-bottom: 24px !important;
  }
}

.ant-tree {
  .ant-tree-node-content-wrapper {
    white-space: nowrap;
    padding: 0px 4px !important;
    margin-left: -6px !important;
    width: 98%;
    .ant-tree-title {
      white-space: nowrap;
    }
    &.ant-tree-node-selected {
      background-color: transparent !important;
    }
  }
}

.left-tree .ant-tree {
  .ant-tree-switcher {
    position: absolute;
    right: 5px;
    color: var(--gray-color);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
  }
  .ant-tree-switcher_close {
    transform: rotate(-90deg);
  }
  .ant-tree-treenode {
    padding: 8px 12px !important;
    width: 100%;

    &:hover {
      background-color: var(--gray-globel-bg-color);
    }
  }
  .ant-tree-indent-unit {
    width: 16px;
  }
  .ant-tree-treenode-selected {
    background-color: var(--menu-active-bg-color);

    &:hover {
      background-color: var(--menu-active-bg-color);
      .ant-tree-title {
        color: var(--primary-color);
      }
    }
  }
  .ant-tree-node-content-wrapper {
    white-space: nowrap;
    padding: 0px !important;
    margin-left: -6px !important;
    width: 98%;
    .ant-tree-title {
      white-space: nowrap;
    }
    &.ant-tree-node-selected {
      background-color: transparent;
      color: var(--primary-color);
    }
    &:hover {
      background-color: transparent;
      color: var(--text-main-color)
    }
  }
}
.ant-modal-wrap {
  display: flex;
  align-items: center;
  .ant-modal {
    top: 0px !important;

    .ant-modal-header {
      padding: 12px 24px;
      border-color: var(--gray-bg-color);
    }

    .ant-modal-body {
      border-radius: 4px;;
      padding: 0px;
      color: var(--text-second-color);

      .modal-content {
        padding: 24px;
        .icon {
          width: 16px;
          height: 16px;
          line-height: 16px;
        }
        .modal-title{
          font-size: 16px;
          font-weight: 600;
          margin-left: 8px;
        }
        .description {
          margin-top: 8px;
          margin-left: 24px;
          margin-bottom: 0px;
        }
      }
      .modal-buttons {
        padding: 16px 24px;
        text-align: right;
        border-top: 1px solid var(--gray-bg-color);
      }
    }
  }
}

.min-main {
  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-input[disabled],
  .ant-transfer-list-content-item-disabled,
  .ant-input-affix-wrapper-disabled,
  .ant-transfer-disabled .ant-transfer-list {
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
  }
}

.ant-popover-inner-content {
  word-break: break-word;
}

.ant-select-tree {
  .ant-select-tree-treenode:hover {
    background-color: var(--gray-globel-bg-color) !important;
  }
  .ant-select-tree-treenode-selected {
    background-color: var(--active-color) !important;
    color: var(--primary-color);
  }
  .ant-select-tree-node-selected,
  .ant-select-tree-node-content-wrapper:hover {
    background-color: transparent !important;
  }
}

// hover
.ant-checkbox-wrapper-checked:hover .ant-checkbox-input,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner,
.ant-tree-checkbox-inner:hover,
.ant-input-number:hover,
.ant-select-selector:hover,
.ant-picker:hover,
.ant-input:hover,
.ant-input-affix-wrapper:hover,
.ant-picker-cell-today .ant-picker-cell-inner:before {
  border-color: var(--primary-color) !important
}

// 激活
.ant-input-number:focus,
.ant-picker:focus,
.ant-input-number:focus,
.ant-input:focus,
.ant-input-affix-wrapper-focused,
.ant-select-focused .ant-select-selector
// .ant-select-selector:focus 
{
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 2px var(--shadow-color) !important;
}

.ant-spin-dot-item,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner,
.ant-picker-range .ant-picker-active-bar,
.ant-picker-cell-range-start  .ant-picker-cell-inner,
.ant-picker-cell-range-start-single .ant-picker-cell-inner,
.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: var(--primary-color) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--active-color) !important;
  color: var(--primary-color) !important;
  font-weight: 400 !important;
}

input::placeholder,
.ant-select-selection-placeholder {
 color: var(--gray-color)
}

.ant-select,
.ant-checkbox-wrapper,
.ant-transfer,
.ant-input-affix-wrapper .ant-input {
  color: var(--text-main-color) !important;
}

// 清除顶部margin，会引起和周边文本不对齐的问题
.title + .ant-checkbox-wrapper {
  margin-top: 0 !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: var(--primary-color) !important;
}

.ant-tooltip {
  .ant-tooltip-inner {
    padding: 8px;
    max-height: 200px;
    overflow: auto;
  }
  .ant-tooltip-inner, .ant-tooltip-arrow-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.12);
    color: var(--text-main-color) !important;
  }
}

// 折叠菜单
.ant-menu-submenu-popup.ant-menu-submenu {
  .ant-menu-item {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .icon {
    display: none;

    & + span {
      margin-left: 0px;
    }
  }
}
.ant-tooltip.ant-menu-inline-collapsed-tooltip {

  .icon {
    display: none;
  }
  .ant-tooltip-inner {
    padding: 8px 12px;
    a:hover {
      color: var(--text-main-color);
    }
  }
}
