// @text-main-color: #1e2229;
// @label-color: #60656E;
// @primary-color: #1664FF;
// @gray-color: #999CA3;
// @active-color: rgba(36,120,255,0.1);
body {
    --primary-color: #00af59;
    --shadow-color: rgba(0, 175, 89,0.2); // 主色调的shadow色
    --active-color: rgba(155,233,170,0.2);

    --text-main-color: #1e2229; // 文字主题色
    --text-second-color: #60646E;
    --border-color: #DADCE0; // 线框
    --gray-color: #999CA3;
    --gray-globel-bg-color: #f2f3f5;  // 全局背景色
    --gray-bg-color: #e6e7e8; // 分割线。进度条等背景色
    --icon-weight-color: #000; // 图标加重颜色
    --table-header-color: #f2f3f5;  // 表格title等
    --table-stripe-color: #F8F9FA;
    --table-hover-color: #F0F1F2;

    // 覆盖vxe组件
    --vxe-font-color: #1e2229;
    --vxe-table-row-hover-background-color: #F0F1F2;
    --vxe-table-row-hover-striped-background-color: #F0F1F2;
}
