@text-main-color: #1e2229;
@text-gray-color: #60656E;
@blue-color: #1664FF;
@gray-color: #999CA3;
// :root {
//   --text-main-color: #1e2229;
//   --text-gray-color: #60656E;
//   --blue-color: #1664FF;
//   --gray-color: #999CA3;
// }